@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6A40A7;
  --accent: #DF00FF;
  --bg: #28282B;
}

body {
  background: var(--bg);
  color: #fff;
  font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
